.approach {


    .approach-left {

        //Dimensions
        height: 80vh;
        margin: 6% 0%;
        padding: 8% 1rem;

        //Position
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1{
            margin: 0.2rem 0rem;
        }
    }
    
    .approach-right {

        //Dimensions
        height: 80vh;
        margin: 6% 0%;
        padding: 8% 1rem;

        //Position
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h1{
            margin: 0.2rem 0rem;
        }
    }
}