*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.projects {

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $principal-color;
        margin-bottom: 3rem;
    }

    .carrousel {

        width: 80%;
        height: 50%;

        overflow-x: hidden;

        .carrousel-container {
            width: 300%;
            height: 100%;
            padding:0px;


            display: flex;
            flex-direction: row nowrap;
            justify-content: space-between;
            align-items: center;

            transition: all .5s ease;
            transform: translateX(0%);
            overflow: hidden;

            .project-card {
                width: calc( 100%/3 );
                height: 100%;

                display: flex;
                flex-direction: row nowrap;
                justify-content: center;
                align-items: center;

                .project-data {
                    width: 40%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    margin: 1rem 2rem;

                    h1 {
                        width: 100%;

                        text-align: center;

                        color: $secundary-color;
                        font-size: $subtitle_size_1 + .50rem;
                        margin: 0px 0px .5rem 0px;
                        padding: 0px;
                    }

                    p {
                        height: 50%;

                        overflow-y: scroll;

                        text-align: justify;

                        margin: 1rem 0px;
                        padding: 1rem 1rem 1rem 0px;
                    }

                    .button-container {
                    }
                }
    
                .project-image {

                    width: 60%;
                    height: 100%;
                    border: 3px solid $secundary-color;
                    border-radius: 1rem;
                    background-color: none;


                }
            }
        }
    }

    .slider {
        width: 80%;
        height: 5%;

        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
        align-items: center;

        list-style: none;
        margin: 3rem 0px 0px 0px;

        .dot {
            color: $neutral-color;
            margin: 0px  1rem;
            &.active {
                color: $principal-color;
            }
        }
    }
}
