.contact {
    background-color: $neutral-color;

    h1 {
        padding: .2rem;
        margin: .3rem;
        color: $background-color;
    }

    form{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: .5rem;

            .input-group {
                width: 100%;
                margin: 1rem ;

                label {
                    margin-left: 1rem;
                }
            }
        }
    }   
}