footer {
     // Dimensions
     width: 100vw;
     height: 10vh;
     padding-right: 4%;
 
     //Position 
     position:relative;
     bottom: 10%;
     display: flex;
     justify-content: flex-end;
     align-items: center;

     //Decorations
     background-color: none;

     i {
        padding-left: 1rem;
        color: $neutral-color;
    }
}