nav {
    // Dimensions
    width: 100%;
    min-height: 6vh;
    padding: 2% 4%;

    //Position 
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    z-index: 999;

    //Decoration
    background-color: none;

    a {
        text-decoration: none;
    }

    .menu-item {
        list-style: none;
        color: $secundary-color;

        .menu-vertical {

            //Position
            display: none;
            position: absolute;
            left: 3%;
            top: 6%;

            //Decorations
            list-style: none;
            background-color: $background-color;

            a {
                display: block;
                padding: .2rem 1rem;

                text-decoration: none;
                background-color: $background-color;
                @include text($secundary-color, 700, $paragraph_size_1);

                &:hover {
                    color: $neutral-color;
                }
            }
        }

        &:hover .menu-vertical {
            display: block;
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        i {
            padding-left: 1rem;
            color: $secundary-color;

            &:hover {
                color: $neutral-color;
            }
        }
    }
}

.special {
    .menu-item {
        color: $principal-color;
    }

    .icons {
        i{
            color: $principal-color;
        }
    }
}

.contact-nav {
    .menu-item {
        color: $neutral-color;
    }

    .icons {
        i {
            color: $neutral-color;
        }
    }
}