nav {
    // Dimensions
    width: 100%;
    min-height: 8vh;
    padding: 4% 4%;

    //Position 
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    z-index: 999;

    //Decoration
    background-color: none;

    a {
        text-decoration: none;
    }

    .menu-item {
        list-style: none;
        color: $secundary-color;

        .menu-vertical {

            //Position
            display: none;
            position: absolute;
            left: 3%;
            top: 6%;

            //Decorations
            list-style: none;
            background-color: $background-color;

            a {
                display: block;
                padding: .2rem 1rem;

                text-decoration: none;
                @include text($secundary-color, 700, map-get($paragraph_size, "medium screen"));

                &:hover {
                    color: $neutral-color;
                }
            }
        }

        &:hover .menu-vertical {
            display: block;
        }
    }

    .icon-box-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            i {
                padding-left: 1rem;
                color: $secundary-color;
    
                &:hover {
                    color: $neutral-color;
                }
            }
        }

    }

    .icon-box-2 {
        display: none;
        justify-content: space-between;
        align-items: center;

        a {
            i {
                padding-left: 1rem;
                color: $background-color;

                &:hover {
                    color: $contact-emphasis-color;
                }
            }
        }
    }
}

.contact-nav {
    .menu-item {
        color: $background-color;
        .menu-vertical {
            background-color: $neutral-color;
            a {
                color: $background-color;

                &:hover {
                    color: $contact-emphasis-color2;
                }
            }
        }
    }
}