.up-down {
  flex-direction: column;
}

.left-right {
  flex-direction: row;
}

::-webkit-scrollbar {
  width: auto;
  background-color: none;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 100vw;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f6f2ff;
  border-radius: 100vw;
}

.image-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container .image-profile {
  width: 35vh;
  height: 35vh;
  position: relative;
  z-index: 998;
  transform: rotate(45deg);
  overflow: hidden;
  border-radius: 1rem;
  border: 3px solid #3C1362;
  background-color: #f6f2ff;
}
.image-container .image-border {
  width: 35vh;
  height: 35vh;
  position: absolute;
  z-index: 997;
  top: 10%;
  transform: rotate(45deg);
  border-radius: 1rem;
  border: 3px solid #3C1362;
  background-color: #80ff84;
}

.button-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.button-container .btn-principal, .button-container .btn-contact {
  width: 150px;
  height: 100px;
  position: relative;
  z-index: 998;
  border-radius: 10px;
  border: 1px solid #FF6BD0;
  background-color: #FF6BD0;
  color: #3C1362;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
  padding: 0.2rem;
}
.button-container .btn-principal:hover, .button-container .btn-contact:hover {
  color: #f6f2ff;
}
.button-container .btn-principal:active, .button-container .btn-contact:active {
  top: 15%;
}
.button-container .btn-border {
  width: 150px;
  height: 100px;
  position: absolute;
  z-index: 997;
  top: 15%;
  border-radius: 10px;
  border: 3px solid #FF6BD0;
  background-color: none;
}
.button-container .btn-contact {
  border-color: #DC093E;
  background-color: #DC093E;
  color: #f6f2ff;
}
.button-container .btn-contact:hover {
  color: #3C1362;
}
.button-container .btn-border-contact {
  border-color: #DC093E;
}

nav {
  width: 100%;
  min-height: 8vh;
  padding: 4% 4%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
  z-index: 999;
  background-color: none;
}
nav a {
  text-decoration: none;
}
nav .menu-item {
  list-style: none;
  color: #FF6BD0;
}
nav .menu-item .menu-vertical {
  display: none;
  position: absolute;
  left: 3%;
  top: 6%;
  list-style: none;
  background-color: #3C1362;
}
nav .menu-item .menu-vertical a {
  display: block;
  padding: 0.2rem 1rem;
  text-decoration: none;
  color: #FF6BD0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
}
nav .menu-item .menu-vertical a:hover {
  color: #f6f2ff;
}
nav .menu-item:hover .menu-vertical {
  display: block;
}
nav .icon-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .icon-box-1 a i {
  padding-left: 1rem;
  color: #FF6BD0;
}
nav .icon-box-1 a i:hover {
  color: #f6f2ff;
}
nav .icon-box-2 {
  display: none;
  justify-content: space-between;
  align-items: center;
}
nav .icon-box-2 a i {
  padding-left: 1rem;
  color: #3C1362;
}
nav .icon-box-2 a i:hover {
  color: #DC093E;
}

.contact-nav .menu-item {
  color: #3C1362;
}
.contact-nav .menu-item .menu-vertical {
  background-color: #f6f2ff;
}
.contact-nav .menu-item .menu-vertical a {
  color: #3C1362;
}
.contact-nav .menu-item .menu-vertical a:hover {
  color: #7542FF;
}

.home {
  justify-content: space-evenly;
}
.home h1 {
  padding: 1rem;
  color: #f6f2ff;
}
.home h1 em {
  color: #80ff84;
}
.home h2 {
  padding: 1rem;
}
.home .home-container {
  position: relative;
}

.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects h1 {
  color: #80ff84;
  text-align: center;
  margin-bottom: 3rem;
}
.projects .carrousel {
  width: 80%;
  height: 50%;
  overflow-x: hidden;
}
.projects .carrousel .carrousel-container {
  width: 300%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
  overflow: hidden;
}
.projects .carrousel .carrousel-container .project-card {
  width: 33.3333333333%;
  height: 100%;
  margin: 0px 0.5rem;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}
.projects .carrousel .carrousel-container .project-card .project-data {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
}
.projects .carrousel .carrousel-container .project-card .project-data h2 {
  width: 100%;
  text-align: center;
}
.projects .carrousel .carrousel-container .project-card .project-data p {
  height: 40%;
  overflow-y: scroll;
  text-align: justify;
  margin: 0.5rem;
  padding: 1rem;
}
.projects .carrousel .carrousel-container .project-card .project-image {
  width: 60%;
  height: 100%;
  border: 3px solid #FF6BD0;
  border-radius: 1rem;
  background-color: none;
}
.projects .slider {
  width: 80%;
  height: 5%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 3rem 0px 0px 0px;
}
.projects .slider .dot {
  color: #f6f2ff;
  margin: 0px 1rem;
}
.projects .slider .dot:hover {
  color: #FF6BD0;
}
.projects .slider .dot.active {
  color: #80ff84;
}

.approach {
  width: 80%;
}
.approach .approach-left {
  width: 50%;
  height: 80vh;
  margin: 0% 0%;
  padding: 5% 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.approach .approach-left h1 {
  margin: 0.2rem 0rem;
}
.approach .approach-right {
  width: 50%;
  height: 80vh;
  margin: 0% 0%;
  padding: 5% 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.approach .approach-right h1 {
  margin: 0.2rem 0rem;
}

.knowledge .knowledge-container {
  box-sizing: border-box;
  margin: 1rem;
  padding: 0px;
  width: 70%;
}
.knowledge .knowledge-container h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0px;
}
.knowledge .knowledge-container .list {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 1.5rem;
}
.knowledge .knowledge-container .list i {
  margin: 0px;
  padding: 0px;
  color: #FF6BD0;
}

.contact {
  background-color: #f6f2ff;
}
.contact h1 {
  padding: 0.2rem;
  margin: 0.3rem;
  color: #3C1362;
}
.contact form {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact form .form-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
}
.contact form .form-row .input-group {
  width: 100%;
  margin: 1rem;
}
.contact form .form-row .input-group label {
  margin-left: 1rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #3C1362;
}

.scroll-container {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 1s step-end;
}

section {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1 {
  color: #80ff84;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
}
section h2 {
  color: #FF6BD0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
}
section p {
  color: #f6f2ff;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 1.75em;
}
section form label {
  color: #3C1362;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75em;
}
section form input, section form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0px;
  border: 0px;
  border-radius: 15px;
  font-size: 1.75em;
  font-family: monospace;
}

@media screen and (max-width: 1400px) and (max-height: 850px) {
  nav .menu-item .menu-vertical a {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
  }
  section h1 {
    color: #80ff84;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
  }
  section h2 {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
  }
  section p {
    color: #f6f2ff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
  }
  section form label {
    color: #3C1362;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
  }
  section form input, section form textarea {
    font-size: 1.25rem;
  }
  .button-container .btn-principal, .button-container .btn-contact {
    width: 120px;
    height: 80px;
    font-size: 1.25rem;
  }
  .button-container .btn-border {
    width: 120px;
    height: 80px;
  }
  .projects .carrousel {
    height: 60%;
  }
}
@media screen and (orientation: portrait) and (max-width: 1050px) and (max-height: 1500px) {
  nav .menu-item .menu-vertical a {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
  }
  section h1 {
    color: #80ff84;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
  }
  section h2 {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
  }
  section p {
    color: #f6f2ff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
  }
  section form label {
    color: #3C1362;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
  }
  section form input, section form textarea {
    font-size: 1.25rem;
  }
  .button-container .btn-principal, .button-container .btn-contact {
    width: 120px;
    height: 80px;
    font-size: 1.25rem;
  }
  .button-container .btn-border {
    width: 120px;
    height: 80px;
  }
  .home {
    flex-direction: column;
  }
  .home .image-container .image-profile {
    width: 30vh;
    height: 30vh;
  }
  .home .image-container .image-border {
    width: 30vh;
    height: 30vh;
  }
  .home .home-container h1 {
    text-align: center;
  }
  .home .home-container h2 {
    text-align: center;
  }
  .approach .approach-left {
    width: 100%;
    height: 60%;
  }
  .approach .approach-right {
    width: 100%;
    height: 60%;
  }
  .projects .carrousel {
    height: 60%;
  }
  .projects .carrousel .carrousel-container .project-card {
    flex-direction: column;
  }
  .projects .carrousel .carrousel-container .project-card .project-image {
    width: 100%;
    height: 60%;
  }
  .projects .carrousel .carrousel-container .project-card .project-data {
    width: 100%;
    height: 40%;
  }
}
@media screen and (orientation: landscape) and (max-width: 950px) and (max-height: 550px) {
  ::-webkit-scrollbar {
    display: none;
  }
  p::-webkit-scrollbar {
    display: block;
  }
  nav .menu-item .menu-vertical a {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
  }
  section h1 {
    color: #80ff84;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
  }
  section h2 {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
  }
  section p {
    color: #f6f2ff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
  }
  section form label {
    color: #3C1362;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
  }
  section form input, section form textarea {
    font-size: 0.9rem;
  }
  .button-container .btn-principal, .button-container .btn-contact {
    width: 90px;
    height: 60px;
    font-size: 0.9rem;
    padding: 0.25rem;
  }
  .button-container .btn-border {
    width: 90px;
    height: 60px;
  }
  .knowledge .knowledge-container {
    margin: 0px;
    padding: 0.2rem;
  }
  .knowledge .knowledge-container .list {
    padding: 0.5rem;
  }
  .projects h1 {
    margin-bottom: 1.5rem;
  }
  .projects .carrousel .carrousel-container .project-card .project-data {
    width: 50%;
    margin: 0px 1rem;
  }
  .projects .carrousel .carrousel-container .project-card .project-data p {
    padding: 0px;
    margin: 0.5rem 0px;
  }
  .projects .carrousel .carrousel-container .project-card .project-image {
    width: 50%;
  }
  .projects .slider {
    margin-top: 1.5rem;
  }
  .contact * {
    margin: 0px;
    padding: 0px;
  }
  .contact form .form-row {
    margin: 0px;
  }
  .contact form .form-row .input-group {
    margin: 0.5rem;
  }
  .contact form .form-row .input-group input, .contact form .form-row .input-group textarea {
    margin: 0.5rem 0px;
    padding: 0px 1rem;
  }
}
@media screen and (orientation: portrait) and (max-width: 550px) and (max-height: 950px) {
  ::-webkit-scrollbar {
    display: none;
  }
  p::-webkit-scrollbar {
    display: block;
  }
  nav .menu-item .menu-vertical a {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
  }
  section h1 {
    color: #80ff84;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
  }
  section h2 {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
  }
  section p {
    color: #f6f2ff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
  }
  section form label {
    color: #3C1362;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
  }
  section form input, section form textarea {
    font-size: 0.9rem;
  }
  .button-container .btn-principal, .button-container .btn-contact {
    width: 90px;
    height: 60px;
    font-size: 0.9rem;
    padding: 0.25rem;
  }
  .button-container .btn-border {
    width: 90px;
    height: 60px;
  }
  .home {
    flex-direction: column;
  }
  .home .image-container .image-profile {
    width: 25vh;
    height: 25vh;
  }
  .home .image-container .image-border {
    width: 25vh;
    height: 25vh;
  }
  .home .home-container h1 {
    text-align: center;
  }
  .home .home-container h2 {
    text-align: center;
  }
  .approach {
    flex-direction: column;
  }
  .approach .approach-left {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 2rem 0px;
  }
  .approach .approach-left h1 {
    width: 100%;
    text-align: left;
  }
  .approach .approach-left p {
    text-align: left;
  }
  .approach .approach-right {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 2rem 0px;
  }
  .approach .approach-right h1 {
    width: 100%;
    text-align: right;
  }
  .approach .approach-right p {
    text-align: right;
  }
  .projects h1 {
    width: 80%;
    margin-bottom: 1rem;
  }
  .projects .carrousel .carrousel-container .project-card {
    flex-direction: column;
  }
  .projects .carrousel .carrousel-container .project-card .project-image {
    width: 100%;
    height: 40%;
  }
  .projects .carrousel .carrousel-container .project-card .project-data {
    width: 100%;
    height: 50%;
  }
  .projects .slider {
    margin-top: 1rem;
  }
  .knowledge .knowledge-container {
    width: 80%;
  }
  .knowledge .knowledge-container .list i {
    margin: 0.5rem;
  }
  .contact form .form-row {
    flex-direction: column;
  }
}
@media screen and (orientation: landscape) and (max-width: 670px) and (max-height: 350px) {
  ::-webkit-scrollbar {
    display: none;
  }
  p::-webkit-scrollbar {
    display: block;
  }
  nav .menu-item .menu-vertical a {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
  }
  section h1 {
    color: #80ff84;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  section h2 {
    color: #FF6BD0;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
  }
  section p {
    color: #f6f2ff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
  }
  section form label {
    color: #3C1362;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
  }
  section form input, section form textarea {
    font-size: 0.75rem;
  }
  .button-container .btn-principal, .button-container .btn-contact {
    width: 80px;
    height: 50px;
    font-size: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
  .button-container .btn-border {
    width: 80px;
    height: 50px;
    top: 20%;
    border-radius: 0.5rem;
  }
  .home .image-container {
    width: 20%;
  }
  .approach .approach-left, .approach .approach-right {
    padding: 2% 0px;
  }
  .projects h1 {
    margin-bottom: 1rem;
  }
  .projects .carrousel {
    height: 60%;
  }
  .projects .slider {
    margin-top: 1rem;
  }
  .knowledge .knowledge-container h1 {
    padding: 0.5rem;
  }
  .knowledge .knowledge-container .list {
    padding: 0.2rem;
  }
  .contact form .form-row {
    margin: 0px;
  }
  .contact form .form-row .input-group {
    margin: 0.2rem;
  }
  .contact form .form-row .input-group input, .contact form .form-row .input-group textarea {
    margin: 0.2rem 0px;
    padding: 0px 0.5rem;
  }
}
@media screen and (orientation: portrait) and (max-width: 350px) and (max-height: 670px) {
  .knowledge .knowledge-container {
    width: 80%;
  }
  .knowledge .knowledge-container .list i {
    margin: 0.2rem;
  }
}/*# sourceMappingURL=main.css.map */