.button-container {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: .5rem;

    .btn-principal {
        // Dimensions
        width: 150px;
        height: 100px;

        //Positions
        position: relative;
        z-index: 998;

        //Decorations
        border-radius: 10px;
        border: 1px solid $secundary-color;
        background-color: $secundary-color;
        color: 	$background-color;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight:700;
        font-size: map-get($paragraph-size, "medium screen");
        padding: .2rem;

        &:hover {
            color: $neutral-color;
        }

        &:active {
            top: 15%;
        }
    }

    .btn-border {
        // Dimensions
        width: 150px;
        height: 100px;

        //Position
        position: absolute;
        z-index: 997;
        top: 15%;

        //Decorations
        border-radius: 10px;
        border: 3px solid $secundary-color;
        background-color: none;
    }

    //Contact Section

    .btn-contact {
        @extend .btn-principal;
        border-color: $contact-emphasis-color;
        background-color: $contact-emphasis-color;
        color: $neutral-color;

        &:hover {
            color: $background-color;
        }
    }

    .btn-border-contact {
        border-color: $contact-emphasis-color;
    }
}

