//Colors
$background-color: #3C1362;
$principal-color: 	#80ff84;
$secundary-color: #FF6BD0;

$neutral-color: #f6f2ff;
$contact-emphasis-color: #DC093E;
$contact-emphasis-color2: #7542FF;

//Fonts Sizes
$title_size_1: 3rem; 
$subtitle_size_1: 1.75rem;
$paragraph_size_1: 1.25rem;

// For Functions
$sections: (up-down, left-right);
$projects-data: (on-left, on-right);