//Colors
$background-color: #303030; //hsla(0, 0%, 26%, 1);
$principal-color: hsla(122, 100%, 75%, 1);
$secundary-color: #FF6BD0; // hsla(88, 100%, 71%, 1);

$neutral-color: hsla(90, 100%, 96%, 1);
$contact-background-color: #8F0062;
$contact-principal-color: #C9F227;
$contact-secundary-color: #BAF73C;

//Fonts Sizes
$title_size_1: 3.5rem; 
$subtitle_size_1: 2rem;
$paragraph_size_1: 1rem;

// For Functions
$sections: (up-down, left-right);
$projects-data: (on-left, on-right);