//Colors
$background-color: #3C1362;
$principal-color: 	#80ff84;
$secundary-color: #FF6BD0;

$neutral-color: #f6f2ff;
$contact-emphasis-color: #DC093E;
$contact-emphasis-color2: #7542FF;

//Fonts Sizes
$title-size: (
    "medium screen" : 5rem,
    "tablet" : 3rem,
    "cellphone" : 2rem,
    "minicellphone" : 1.5rem,
); 

$subtitle-size: (
    "medium screen" : 3rem,
    "tablet" : 2rem,
    "cellphone" : 1.25rem,
    "mini-cellphone" : 1rem,
);

$paragraph-size: (
    "medium screen" : 1.75em,
    "tablet" : 1.25rem,
    "cellphone-contact" : .9rem,
    "cellphone" : .75rem,
);

// For Functions
$sections: (up-down, left-right);